@using yA_Blog.Areas.Blog.Library

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/css/main.css"/>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">

</head>
<body>
    @{
        string websiteName = CacheHelper.GetWebSiteName();
    }
    <noscript>
        <div class="no-js-menu">
            <ul>
                <li><i class="fa fa-home"></i><a href="/Blog/Home/Index">Ana Sayfa</a></li>
                @{
                    if (Session["User"] != null)
                    {
                        Kullanici logedIn = Session["User"] as Kullanici;
                        <li><i class="fa fa-user"></i><a href="author.html">@( logedIn.KullaniciAdi)</a></li>
                        <li><i class="fa fa-power-off"></i><a href="author.html">Çıkış Yap</a></li>

                    }
                    else
                    {
                        <li><i class="fa fa-code"></i><a href="/Blog/Home/Girisyap">Giriş Yap</a></li>
                        <li><i class="fa fa-sign-in"></i><a href="/Blog/Home/Yeni_Kayıt">Kayıt Ol</a></li>
                    }
                    <form class="form-inline" style="margin-left: 7px;">
                        <div class="input-group stylish-input-group">
                            <input type="text" class="form-control" id="query" name="query" placeholder="Ne aramak istiyorsun">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                }

            </ul>
        </div>
    </noscript>
    <!-- end no script -->
    <main class="container">
        <div class="row">
            <div id="menu-target">
                <ul>
                    <li><i class="fa fa-home"></i><a href="/Blog/Home/Index">Ana Sayfa</a></li>
                    @{
                        if (Session["Kullanici"] != null)
                        {
                            Kullanici logedIn = Session["Kullanici"] as Kullanici;
                            <li><i class="fa fa-user"></i><a href="/Blog/User/Profil">Merhaba, @( logedIn.KullaniciAdi)</a></li>
                            <li><i class="fa fa-power-off"></i><a href="/Blog/Home/LogOut">Çıkış Yap</a></li>

                        }
                        else
                        {
                            <li><i class="fa fa-code"></i><a href="/Blog/Home/Girisyap">Giriş Yap</a></li>
                            <li><i class="fa fa-sign-in"></i><a href="/Blog/Home/Yeni_Kayit">Kayıt Ol</a></li>
                        }
                        <form class="form-inline" style="margin-left: 7px;">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" id="query" name="query" placeholder="Ne aramak istiyorsun?">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>

                    }
                </ul>
                <hr>
            </div>
            <section class="sidebar col-lg-5 col-12" style="background-image: url(@ViewBag.Resim)">
                <span class="menu-trigger animated fadeInDown">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>
                <div class="site-info">
                    @RenderSection("Info",false)
                    
                </div>
            </section>

            <!-- end sidebar -->

            <section class="col-lg-8 col-12 ml-auto main-content">
                <div class="sub-nav">
                    <a href="@ViewBag.Section1Url" class="select-posts">@ViewBag.SectionName1</a>
                    <a href="@ViewBag.Section2Url" class="select-categories">@ViewBag.SectionName2</a>
                    <a href="@ViewBag.Section3Url" class="select-update">@ViewBag.SectionName3</a>
                </div>

                <div class="home-page-posts hide animated fadeIn ">
                     @RenderBody()
                </div>

                <!-- Home page posts -->

                <div class="home-page-categories hide animated fadeIn ">
                     @RenderSection("Bolum2", false)
                </div>
                
                <div class="home-page-update hide animated fadeIn">
                     @RenderSection("Bolum3", false)

                </div>

                <footer class="split-footer">
                    
                    <a href="/Blog/Home/Index">@websiteName <i class="link-spacer"></i> @DateTime.Now.Year</a>
                </footer>

            </section><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->
    @Scripts.Render("~/script/all")
    @Scripts.Render("~/script/validate")
    @Scripts.Render("~/script/ajax")
    <script src="~/Scripts/blogJs/common.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
