@using yA_Blog.Areas.Blog.Library
@model Kullanici
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";

    ViewBag.SectionName1 = "Sifremi Unuttum";

    ViewBag.Section1Url = "#";

    ViewBag.Resim = "../../Areas/Blog/Uploads/img/default-category-sidebar.jpg";
}

<div class="col-12 ml-auto main-content">

    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success" style="margin-top: 15px; font-size: 15px">
            <strong>Sifre resetleme maili gonderildi <i class="fa fa-smile-o" aria-hidden="true" style="font-size: 25px"></i></strong>
        </div>
    }

    <h3>Sifre Resetleme</h3>
    @{
        using (Html.BeginForm("ForgetPassword", "Home"))
        {
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(x => x.KullaniciAdi)
                @Html.TextBoxFor(x => x.KullaniciAdi, new {@class = "form-control", placeholder = "Kullanici Adini Giriniz"})
                @Html.ValidationMessageFor(x => x.KullaniciAdi, "", new {@class = "text-danger", style = "font-size:14px"})
            </div>

            <div class="form-group form-inline">
                <input class="btn btn-default" id="LoginButton" type="submit" value="Gonder">
            </div>
        }
    }
</div>

@section Info
{
    <div class="primary-info">
        <h1>@CacheHelper.GetWebSiteName()</h1>
        <p>Sifre Resetleme</p>
    </div>
    <div class="secondary-info">

    </div>
}

@section Scripts{
    <script>
        $(document).ready(function() {
            openSection1();
        });
    </script>
}
