@using yA_Blog.Areas.Blog.Library
@model Kullanici
@{
    ViewBag.Title = "Giris Yap";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";
    ViewBag.SectionName1 = "Giris Yap";
    ViewBag.Resim = "../../Areas/Blog/Uploads/matrix.jpg";
}


<div class="col-12 ml-auto main-content">
    <h3>Giris Yapın</h3>
    @{
        using (Html.BeginForm("GirisYap", "Home"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(x => x.KullaniciAdi)
                @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanici Adini Giriniz" })
                @Html.ValidationMessageFor(x => x.KullaniciAdi, "", new { @class = "text-danger", style = "font-size:14px" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Parola)
                @Html.TextBoxFor(x => x.Parola, new { @class = "form-control", type = "password", placeholder = "Şifrenizi giriniz" })
                @Html.ValidationMessageFor(x => x.Parola, "", new { @class = "text-danger", style = "font-size:14px" })
            </div>

            <div class="form-group form-inline">
                <div class="g-recaptcha" data-sitekey="6LcncjwUAAAAAHclYUU7yXyvVaOMZd_FLOCcb0mJ"></div>
                <input class="btn btn-default" id="LoginButton" style="margin-left:63px" type="submit" value="Giris Yap">
            </div>
        }
    }
    @Html.ActionLink("Sifremi Unuttum","ForgetPassword","Home",new {@class="btn btn-primary"})
</div>

@section Info
{
    <div class="primary-info">
        <h1>@CacheHelper.GetWebSiteName()</h1>
        <p>Hos geldiniz</p>
    </div>
    <div class="secondary-info">

    </div>
}

@section Scripts{
    @Scripts.Render("~/script/validate")
    <script src="https://www.google.com/recaptcha/api.js"></script>
}
