@using yA_Blog.Areas.Blog.Library
@using yA_Blog.Areas.Blog.PageModels
@model  HomeIndex

@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";

    ViewBag.SectionName1 = "Gönderiler";
    ViewBag.SectionName2 = "Kategoriler";
    ViewBag.Section1Url = "#";
    ViewBag.Section2Url = "#";

    ViewBag.Resim = CacheHelper.GetWebSiteHomeImg();
    string websiteName = CacheHelper.GetWebSiteName();
    string websiteInfo = CacheHelper.GetWebSiteInfo();
}
@{
    if (Model.Haberler != null)
    {
        foreach (var item in Model.Haberler)
        {
            <article class="post">
                <div class="post-preview col-10  no-gutter">
                    <h2><a href="/Post/Haber/@(Portal.SeoUrl(@item.HaberBaslik))-@item.ID">@item.HaberBaslik</a></h2>
                    <p>@item.HaberOzet</p>
                    <p class="meta">
                        <i class="fa fa-th-list"></i>
                        <a href="/Home/Kategori/@item.Kategorisi.KategoriIsim">@item.Kategorisi.KategoriIsim</a>
                        @{
                            if (!String.IsNullOrWhiteSpace(item.Tags))
                            {
                                <i class="fa fa-tags"></i>
                                foreach (var tag in item.Tags.Split(','))
                                {
                                    <a href="/Home/Arama?query=@tag">@tag</a>
                                    <i class="link-spacer"></i>
                                }

                            }

                        }
                        <i class="fa fa-comment"></i> 
                        @{
                            if (Model.YorumCount != null)
                            {
                                var yorumSayisi = Model.YorumCount.FirstOrDefault(x => x.Item1 == item.ID);
                                if (yorumSayisi != null)
                                {
                                    @Html.Raw(yorumSayisi.Item2.ToString())
                                }
                                else
                                {
                                    @Html.Raw(0)
                                }
                            }
                            else
                            {
                                @Html.Raw(0)
                            }
                           

                        }
                    </p>
                </div>
                <div class=" col-2  no-gutter">
                    <img src="@item.Yazar.ImgUrl" class="user-icon" alt="user-image">
                </div>
            </article>
        }
    }
    
}


@section bolum2{
    <div class="category row">
        @{
            if (Model.Kategoriler != null)
            {
                foreach (var kategori in Model.Kategoriler)
                {
                    <div class="category-preview col-6 col-sm-4  ">
                        <h2>@kategori.KategoriIsim</h2>
                        <a href="/Home/Kategori/@kategori.KategoriIsim"><img src="@kategori.KategoriResim" alt="category-image"></a>
                    </div>
                }
            }
        }
        
    </div>
}

@section Info
{
    <div class="primary-info">
        <h1>@websiteName</h1>
        <p>@websiteInfo</p>
    </div>
    <div class="secondary-info">
        <p>
            <a class="btn btn-primary" href="#" style="" onclick="bultenKayit()"><i class="fa fa-user-plus"></i>Bültene Kayıt Olun</a>
        </p>
    </div>
    @Html.Partial("_TakipciKaydetPartialView",new KullaniciGuncelleme())
}


@section Scripts
{
    <script>
        $(document).ready(function() {
            openSection1();
        });
    </script>
}
