@using yA_Blog.Areas.Blog.Library
@using yA_Blog.Areas.Blog.PageModels
@model List<Haber>

@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";

    ViewBag.SectionName1 = "Gönderiler";
    ViewBag.SectionName2 = "Kategoriler";
    ViewBag.Section1Url = "#";
    ViewBag.Section2Url = "#";

    ViewBag.Resim = "../../Areas/Blog/Uploads/img/default-404.jpg";
    string websiteName = CacheHelper.GetWebSiteName();
}
@{
    foreach (var item in Model)
    {
        <article class="post">
            <div class="post-preview col-10  no-gutter">
                <h2><a href="/Post/Haber/@item.ID">@item.HaberBaslik</a></h2>
                <p>@item.HaberOzet</p>
                <p class="meta">
                    <a href="#">@item.Kategorisi.KategoriIsım</a>
                    <i class="link-spacer"></i>
                    @{
                        if (!String.IsNullOrWhiteSpace(item.Tags))
                        {
                            @Html.Raw("Tagler")
                            <i class="link-spacer"></i>
                            foreach (var tag in item.Tags.Split(','))
                            {
                                <a href="#">@tag</a>
                            }
                            <i class="link-spacer"></i>
                        }

                    }
                    <i class="fa fa-comment"></i> 15
                </p>
            </div>
            <div class=" col-2  no-gutter">
                <img src="@item.Yazar.ImgUrl" class="user-icon" alt="user-image">
            </div>
        </article>
    }
}


@section bolum2{
    
}

@section Info
{
    <div class="primary-info">
        <h1>@websiteName</h1>
        <p>@websiteName is coming</p>
    </div>
    <div class="secondary-info">
        <p>
            <a class="btn btn-primary" href="#" style="margin-bottom: 15px" onclick="bultenKayit()"><i class="fa fa-user-plus"></i>Bültene Kayıt Olun</a>
        </p>
    </div>
    @Html.Partial("_TakipciKaydetPartialView",new KullaniciGuncelleme())
}


@section Scripts
{
    <script>
        $(document).ready(function() {
            openSection1();
        });
    </script>
}
