@model IEnumerable<yA_Blog.Areas.Blog.Models.Haber>
@{
    ViewBag.Title = "Haberleri Listele";
    Layout = "~/Areas/Blog/Views/Shared/_Admin_Layout.cshtml";
}


@section css{
    <style>
        #sidebar .list-group {
            min-height: 150vh;
        }
    </style>
}

<h2 style="margin-top:15px">Haberleri Listele</h2>

<div class="col-md-12">
    <div id="Success_HaberSil" class="alert alert-success" style="display:none">
        <strong>Haber Silindi <i class="fa fa-smile-o" aria-hidden="true" style="font-size:25px"></i></strong>
    </div>
    <div id="Loading_HaberSil" class="alert alert-warning" style="display:none">
        <strong>Yükleniyor.....<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px;float:right"></i> </strong>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Haber Başlığı</th>
                <th>Yayınlanma Tarihi</th>
                <th>Katagorisi</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    DateTime tarih = DateTime.Parse(item.HaberYayinlamaTarih);
                    <tr id="kolon_@item.ID">
                        <th scope="row">@item.ID</th>
                        <td>@item.HaberBaslik</td>
                        <td>@tarih.ToString("dd-MM-yyyy")</td>
                        <td>@item.Kategorisi.KategoriIsım</td>
                        <td><a href="/Blog/Admin/HaberGuncelle/@item.ID" class="btn btn-primary" role="button">Düzenle</a></td>
                        <td><a href="#" class="btn btn-danger" onclick="haberSil_baslat(@item.ID)" role="button">Sil</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @{ 
        int sayfa_numarasi = Convert.ToInt32(Request.Params["page"]);
    }
    <div class="text-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/Blog/Admin/HaberleriListele?page=@(sayfa_numarasi +1)" tabindex="-1">Geri</a>
                </li>
                @{
                    for (int i = 1; i <= ViewBag.HaberCount / 10 + 1; i++)
                    {
                        if (i == sayfa_numarasi)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="/Blog/Admin/HaberleriListele?page=@i">@i<span class="sr-only">(current)</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="/Blog/Admin/HaberleriListele?page=@i">@i</a></li>
                        }
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/Blog/Admin/HaberleriListele?page=@(sayfa_numarasi +1)">İleri</a>
                </li>
            </ul>
        </nav>
    </div>
    <input type="hidden" id="silinecek_haber_id" name="silinecek_haber_id" />
    <div id="modalSection">
        @Html.ModalSil("HaberSil_Modal", "Emin Misiniz ?", "Seçiğiniz Haber Silinecek. Yaptığınız Seçimden Emin Misiniz ?")
    </div>
</div>

@section script{
<script>
    function haberSil_baslat(response)
    {
        $("#silinecek_haber_id").val(response);
        $("#ModalDescription").html(" <b><i>#" + response + "</i></b> numaralı haber silinecek !!!");
        $("#HaberSil_Modal").modal('toggle');
    }

    $(document).on('click', "#sil_onay", function () {

        $("#HaberSil_Modal").modal('toggle');
        $("#Success_HaberSil").hide();
        var ID = $("#silinecek_haber_id").val();
        $.ajax({
            url: "/Blog/Admin/Haber_Sil",
            data: { silinecekId: ID },
            method: "POST",
            beforeSend: function () {
                $("#Loading_HaberSil").show(300);
            }
        }).done(function (response) {
            if (response == true) {
                $("#Success_HaberSil").show(300);
                $("#kolon_" + ID).remove();
            }
        }).always(function () {
            $("#Loading_HaberSil").hide(300);

        }).fail(function () {

        });
    });

</script>
    
}