@model IEnumerable<yA_Blog.Areas.Blog.Models.Kullanici>

@{
    ViewBag.Title = "Kullanicilar";
    Layout = "~/Areas/Blog/Views/Shared/_Admin_Layout.cshtml";
}

<h2 style="margin-top:15px">Kullanicilar</h2>
<a class="btn btn-success" href="/Admin/KullaniciEkle" style="margin-bottom:15px">Kullanici Ekleyin</a>

<div class="col-md-12">
    <div id="Success_KullaniciSil" class="alert alert-success" style="display:none">
        <strong>Kullanici Silindi <i class="fa fa-smile-o" aria-hidden="true" style="font-size:25px"></i></strong>
    </div>
    <div id="Loading_KullaniciSil" class="alert alert-warning" style="display:none">
        <strong>Yükleniyor.....<i class="fa fa-circle-o-notch fa-spin" style="font-size:24px;float:right"></i> </strong>
    </div>
    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="kolon_@item.ID">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eposta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a href="#" class="btn btn-danger" onclick="kullaniciSil_baslat(@item.ID)" role="button">Sil</a>
                </td>
            </tr>
        }

    </table>
    @{ 
        int sayfa_numarasi = Convert.ToInt32(Request.Params["page"]);
    }
    <div class="text-center">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/Admin/Kullanicilar?page=@(sayfa_numarasi -1)" tabindex="-1">Geri</a>
                </li>
                @{
                    for (int i = 1; i <= ViewBag.KullaniciCount / 10 + 1; i++)
                    {
                        if (i == sayfa_numarasi)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="/Admin/Kullanicilar?page=@i">@i<span class="sr-only">(current)</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="/Admin/Kullanicilar?page=@i">@i</a></li>
                        }
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/Admin/Kullanicilar?page=@(sayfa_numarasi +1)">İleri</a>
                </li>
            </ul>
        </nav>
    </div>
    <input type="hidden" id="silinecek_kullanici_id" name="silinecek_kullanici_id" />
    <div id="modalSection">
        @Html.ModalSil("KullaniciSil_Modal", "Emin Misiniz ?", "Seçiğiniz Kullanici Silinecek. Yaptığınız Seçimden Emin Misiniz ?")
    </div>
</div>
@section script{
    <script>
        function kullaniciSil_baslat(response)
        {
            $("#silinecek_kullanici_id").val(response);
            $("#ModalDescription").html(" <b><i>#" + response + "</i></b> numaralı kullanici silinecek !!!");
            $("#KullaniciSil_Modal").modal('toggle');
        }

        $(document).on('click', "#sil_onay", function () {

            $("#KullaniciSil_Modal").modal('toggle');
            $("#Success_KullaniciSil").hide();
            var ID = $("#silinecek_kullanici_id").val();
            $.ajax({
                url: "/Admin/KullaniciSil",
                data: { silinecekId: ID },
                method: "POST",
                beforeSend: function () {
                    $("#Loading_KullaniciSil").show(300);
                    $("#Success_KullaniciSil").hide(0);
                }
            }).done(function (response) {
                if (response === true) {
                    $("#Success_KullaniciSil").show(300);
                    $("#kolon_" + ID).remove();
                }
            }).always(function () {
                $("#Loading_KullaniciSil").hide(300);

            }).fail(function () {
                alert("Bir hata olustu !");
            });
        });

    </script>
    
}
