@model yA_Blog.Areas.Blog.PageModels.KullaniciGuncelleme

@{
    ViewBag.Title = "Profil";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";
    ViewBag.SectionName1 = "Bilgilerini Güncelle";
    ViewBag.SectionName2 = "Son Aktivitelerin";
    ViewBag.SectionName3 = "asd";
    ViewBag.Resim = "../../Areas/Blog/Uploads/matrix.jpg";
    var user = Session["Kullanici"] as Kullanici;
}
<div class="col-12 ml-auto main-content">
    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success" style="margin-top: 15px;font-size: 15px">
            <strong>Bilgiler Güncellendi <i class="fa fa-smile-o" aria-hidden="true" style="font-size:25px"></i></strong>
        </div>
    }
    @using (Html.BeginForm("Profil"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <strong>@Html.LabelFor(model => model.EskiParola, htmlAttributes: new { @class = "" })</strong>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EskiParola, new { htmlAttributes = new { @class = "form-control", placeHolder = "Suanki Sifreinizi Girin" } })
                    @Html.ValidationMessageFor(model => model.EskiParola, "", new { @class = "text-danger", style = "font-size:15px" })
                </div>
            </div>

            <div class="form-group">
                <strong>@Html.LabelFor(model => model.YeniParola, htmlAttributes: new { @class = "" })</strong>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YeniParola, new { htmlAttributes = new { @class = "form-control", placeHolder = "Yeni Sifrenizi Girin" } })
                    @Html.ValidationMessageFor(model => model.YeniParola, "", new { @class = "text-danger", style = "font-size:15px" })
                </div>
            </div>
            <div class="form-group">
                <strong>@Html.LabelFor(model => model.YeniParolaOnay, htmlAttributes: new { @class = "" })</strong>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YeniParolaOnay, new { htmlAttributes = new { @class = "form-control", placeHolder = "Yeni Sifre Tekrar" } })
                    @Html.ValidationMessageFor(model => model.YeniParolaOnay, "", new { @class = "text-danger", style = "font-size:15px" })
                </div>
            </div>
            <div class="form-group">
                <strong>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })</strong>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeHolder = "Mail Adresinizi Girin" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "font-size:15px" })
                </div>
            </div>
            <div class="form-group">
                <strong>@Html.LabelFor(model => model.EmailOnay, htmlAttributes: new { @class = "" })</strong>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailOnay, new { htmlAttributes = new { @class = "form-control", placeHolder = "Mail Adresinizi Tekrar Girin" } })
                    @Html.ValidationMessageFor(model => model.EmailOnay, "", new { @class = "text-danger", style = "font-size:15px" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
    

    @section Bolum2
{

            <article class="post author-page">
                <div class="post-preview col-10 col-sm-9  no-gutter">
                    <h2><a href="post.html">8 Reasons to quit your day job</a></h2>

                    <p>Bu habere su yorumu yazdın.... Güzel Haberaa sdasdasdasd asd asd asdas dasdasdsa dasd a sdasdasd as das das.....</p>

                </div>

                <div class="col-sm-3 col-md-2 ml-auto hidden-sm hidden-xs no-gutter">
                    <p class="meta author-page">
                        <span class="time"><i class="fa fa-comment"></i> 12</span>
                        <span class="min">yorum</span>
                    </p>
                </div>
            </article>
    }

    @section Info
{
        <div class="primary-info">
            <h1>@(user.KullaniciAdi)</h1>
            <p>Bu kısımda bilgilerinizi güncelleyebilir, geçmis aktivelerinizi inceleyebilirsiniz.</p>
        </div>
        <div class="secondary-info">

        </div>
    }
